.search-box {
  box-shadow: none !important;
}

.timeline-body::after
{
  top: 1%;
  background-color: #feb04a;
  height: 96%;
}

.timeline-body .timeline-item::after
{
  border: 4px solid $secondary;
}