.center-card
{
  transition: opacity 500ms;

  p
  {
    font-size: var(--font-size--medium);
  }

  & > div
  {
    border-color: $primary;
    border-style: dashed;
    border-radius: 1rem;
    transition: border-color 400ms;

    &:hover
    {
      border-color: rgba($primary, 0.6);
    }
  }

  &:hover
  {
    opacity: .5;
  }
}

.landing-container
{
  justify-content: space-evenly;
  overflow: hidden;
}

#element
{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#container
{
  display: inline-block;
  position: relative;
  width: 100%;
}

.circle-image
{
  width: 85%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#first-name, #job-title
{
  font-family: $headers-font;
  font-size: var(--font-size--large);
  margin: 1.5rem 0;
}

#job-title
{
  font-size: var(--font-size--medium);
}