.center-card
{
  border-color: $primary;
  border-style: dashed;
  border-radius: 1rem;
  
  p
  {
    font-size: var(--font-size--medium);
  }
}

.landing-container
{
  justify-content: space-evenly;
  overflow: hidden;
}

#element
{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#container
{
  display: inline-block;
  position: relative;
  width: 100%;
}

.circle-image
{
  width: 85%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}