.nav-link,
.navbar-brand
{
  &::after
  {
    height: 0.15em;
    content: "";
    display: block;
    width: 0;
    transition: width 0.35s;
    background-color: $primary;
    border-radius: 0 0 1em 1em;
    margin: 0;
    left: 5%;
  }
}

.nav-item.active {
  font-weight: bold;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: var(--font-size--larger);
  font-weight: bold;
  transition: color .35s;
}

.navbar-toggler
{
  align-self: center;
}

.navbar
{
  align-items: baseline;
  font-family: $headers-font;
}

.nav-link
{
  transition: color .35s;
}

.nav-link.active, .nav-link:hover
{
  color: #ffffff;
  transition: color .35s;
  font-weight: 400;
  width: 100%;
}

.nav-item.active::after, .nav-link:hover::after, .navbar-brand:hover::after
{
  width: 92% !important;
}

.navbar-nav a
{
  font-size: var(--font-size--large);
}

.navbar-brand.active, .navbar-brand:hover
{
  font-weight: 700;
}