$primary:           #feb04a;
$primary-variant:   #f98300;
$secondary:         #03DAC5;

$variant1:          #03DAC5;


$success:           #28a745;
$info:              #17a2b8;
$warning:           #ffc107;
$danger:            #fe564a;
$light:             #f8f9fa;
$dark:              #343a40;

$rounded-borders: 15px;


$body-font: 'Alegreya', serif;
$headers-font: 'Kaushan Script', cursive;
$special-font: 'Caveat', cursive;