<div class="grid m-3 mt-5">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% for post in site.posts reversed %}

    {%- assign post_id    = post.name | slugify -%}
    {%- assign post_img   = post.image -%}
    {%- assign post_name  = post.name -%}
    {%- assign post_desc  = post.description -%}
    {%- assign post_tools = post.tools -%}
    {%- assign is_draft = !post.draft -%}
    {%- assign post_url = post.url | relative_url -%}
    
    {% include blog/post-card.html %}
  
  {% endfor %}
</div>