<div class="grid m-3 mt-5">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% for element in site.posts reversed %}

    {%- assign element_id    = element.name | slugify -%}
    {%- assign element_img   = element.image -%}
    {%- assign element_name  = element.name -%}
    {%- assign element_desc  = element.description -%}
    {%- assign element_tools = element.tools -%}
    {%- assign is_draft = element.draft -%}
    {%- assign element_url = element.url | relative_url -%}
    
    {% include elements/card.html %}
  
  {% endfor %}
</div>