---
layout: default
---

<div class="col-lg-12 mx-auto mt-5 project-page">
  {%- if page.main_video != blank -%}
  <figure class="col-lg-12 mx-auto" aria-label="video-trailer">
    {% include elements/placeholder-video.html id=page.main_video %}
  </figure>
  {%- endif -%}
  <div class="project-tldr">
    <p>
      <i class="fas fa-quote-left" aria-hidden="true"></i>
      {{ page.description }}
      <i class="fas fa-quote-right" aria-hidden="true"></i>
    </p>
  </div>
  <div class="col-lg-12 project-content">
    <div class="col-lg-11 mx-auto">
      <h1>About the game</h1>
      {{ page.overview | markdownify }}
      <h1> My contributions</h1>
      {{ content  }}
      <h1> Accomplishments</h1>
      {{ page.results | markdownify }}
      {%- if page.special_thanks != blank -%}
      <div class="project-special-thanks">
        <h1> Special Thanks </h1>
        <ul>
          {%- for person in page.special_thanks -%}
          <li>
            <i class="fas fa-asterisk"></i>
            <a href="{{ person.url }}" target="_blank">{{ person.name }}</a>
            <i class="fas fa-asterisk"></i>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>